<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>FRAME QUERY</title> 
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/pultstyle.css">
</head>
<body>
    <h2>Фильтрация CAN-фреймов</h2>
<a id="NAV_back" href="../static">Назад</a>
</br>
    <div>
        <p>
            Текст SQL-запроса после ключевого слова WHERE:<br/>
            Например: a2 LIKE("6%") OR d1 IN(50,65)<br/>
                      или: TIME(tim)<'21' AND DATE(tim)<'2023-11-21'<br/>
        <textarea id="Qtext" cols="100" rows="5"></textarea>
        </p>
         <p>
            <button id="LnQueryBtn" onclick="getLineQuery()">Запросить</button>
            <button id="resetBtn" onclick="getFrames()">Сбросить</button>
        
            Имя файла отчета в папке reports
            <input type="text" id="ReportName" value="">
            <button id="SaveReportBtn" onclick="saveReport()">Сохранить отчет</button>
         </p>
    </div>
    <table id="TT">

        <thead>
<tr><th>tim</th><th> adr </th><th> d0 </th><th> d1 </th>

<th> d2 </th>
<th> d3 </th>
<th> d4 </th>
<th> d5 </th>
<th> d6 </th>
<th> d7 </th>
<th> a0 </th><th> a1 </th><th>a2</th><th>a3</th><th>a4</th><th>a5</th><th>a6</th><th>a7</th></tr>
</thead>
        <tbody id="TTB">
        </tbody>
    </table>
  
    <script>
    // Получение всех фреймов
        async function getFrames() {
            //alert('СТАРТ');
            document.getElementById('Qtext').value="";
            document.getElementById('ReportName').value="";
            // отправляет запрос и получаем ответ
            const response = await fetch("http://127.0.0.1:8000/dbq3?FF='a0'&RC=0", {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
          // alert('Запрос');
            // если запрос прошел нормально
            if (response.ok === true) {
                Tbl = document.getElementById("TTB");
                Tbl.innerHTML = "";
                //alert('Данные');
                // получаем данные
                const users = await response.json();
                //const otwet= await  response.text();
                const rows = document.querySelector("tbody");
                //const zz={{aaa: 'xxx'},{bbb:'fff'}}
                //alert('Данные2');

                a=Object.entries(users);
              
                for (let i = 0; i < users.length; i++) { // выведет 0, затем 1, затем 2
                            rows.append(row(a[i][1]));

                }
            }
        }//async function getFrames() 




       // Получение запроса
        async function getLineQuery() {
            //alert('СТАРТ0');
            II=document.getElementById('Qtext').value;
            //alert(II);
            //alert('СТАРТ0.1');
            //alert(`http://127.0.0.1:8000/dbq3?FF=${II}&RC=${VV}`)
            const response = await fetch(`http://127.0.0.1:8000/dbq5?FF=${II}`, {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
            //alert('СТАРТ1');
            if (response.ok === true) {
                //alert('СТАРТ2');
                const users = await response.json();

                //alert('СТАРТ2.9');

                Tbl = document.getElementById("TTB");
                Tbl.innerHTML = "";

                //alert('СТАРТ2.5');
                //alert(users.length);

                const rows = document.querySelector("tbody");
                a=Object.entries(users);
                //alert('СТАРТ2.8');
                //alert(users.length);
                
  
                
                for (let i = 0; i < users.length; i++) { // выведет 0, затем 1, затем 2
                            rows.append(row(a[i][1]));

                }
             //alert('СТАРТ3');
            }
            
        }//getLineQuery()

       // Получение запроса
        async function saveReport() {
            //alert('СТАРТ0');
            II=document.getElementById('Qtext').value;
            //alert(II);
            FN=document.getElementById('ReportName').value;
            //alert(FN);
            //alert('СТАРТ0.1');
            const response = await fetch(`http://127.0.0.1:8000/Reportsave?FF=${II}&FNM=${FN}`, {
                method: "PUT",
                headers: { "Accept": "application/json" }
            });

             //alert('СТАРТ3');

            
        }//saveReport()

    
        // создание строки для таблицы
        function row(user) {
  
            const tr = document.createElement("tr");
            tr.setAttribute("data-rowid", user.id);
  
            const timTd = document.createElement("td");
            timTd.append(user.tim);
            tr.append(timTd);
  
            const adrTd = document.createElement("td");
            adrTd.append(user.adr);
            tr.append(adrTd);

            const d0Td = document.createElement("td");d0Td.append(user.d0);tr.append(d0Td);
            const d1Td = document.createElement("td");d1Td.append(user.d1);tr.append(d1Td);
const d2Td = document.createElement("td");d2Td.append(user.d2);tr.append(d2Td);
const d3Td = document.createElement("td");d3Td.append(user.d3);tr.append(d3Td);
const d4Td = document.createElement("td");d4Td.append(user.d4);tr.append(d4Td);
const d5Td = document.createElement("td");d5Td.append(user.d5);tr.append(d5Td);
const d6Td = document.createElement("td");d6Td.append(user.d6);tr.append(d6Td);
const d7Td = document.createElement("td");d7Td.append(user.d7);tr.append(d7Td);



            const a0Td = document.createElement("td");a0Td.append(user.a0);tr.append(a0Td);
            const a1Td = document.createElement("td");a1Td.append(user.a1);tr.append(a1Td);
            const a2Td = document.createElement("td");a2Td.append(user.a2);tr.append(a2Td);
            const a3Td = document.createElement("td");a3Td.append(user.a3);tr.append(a3Td);
            const a4Td = document.createElement("td");a4Td.append(user.a4);tr.append(a4Td);
            const a5Td = document.createElement("td");a5Td.append(user.a5);tr.append(a5Td);
            const a6Td = document.createElement("td");a6Td.append(user.a6);tr.append(a6Td);
            const a7Td = document.createElement("td");a7Td.append(user.a7);tr.append(a7Td);
  


            return tr;
        }
        // загрузка 
        getFrames();

    </script>
</body>
</html>
